@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600;700;900 & display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #BDB76B;
}

.header-menu {
    margin-top: 47px;
    margin-left: 42px;
    margin-bottom: 95px;
    
}

.link-menu {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color:#FFFFFF;
    margin-right: 32px;
    text-decoration: none;
}


.button-menu {
    Width: 124px;
    Height: 51px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    margin-left: 32px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.button-menu:hover {
    color: #2a0869;
}

img {
   
    display: inline-block;
    margin-left: 121px;
}

section {
    display: inline-block;
    margin-left: 96px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #FFFFFF;
}   

p {
    margin-top: 47px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    width: 493px;
    margin-bottom: 55px;
}


.learn-more {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #18233D 100%;
    text-decoration: none;
}



